html {
    color: #f1f1f1;
    font-family: Arial, serif;
}


body {
    background-color: white;
    margin: 30px;
}

a {



}

b {
    font-weight: bolder;
}

h1 {
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: 5%;
}

img {
    width: 100%;
    height: 60%;
}

input {
    max-width: 375px;
    /*margin-left: 34%;*/
    width: 100%;

}

select {
    max-width: 50px;
    /*margin-left: 34%;*/
    width: 100%;
}




.btn {

    color: white;
    font-weight: bolder;
}

#results {
    justify-content: left;
    align-self: flex-start;
}

#sorting_options {
    max-width: 400px;
    min-width: 75px;
    padding: 5px;


}

#menu2 {
    border: none;
}

#dropdownMenuLink {
    width: 100%;
}


#bottom_page {
    text-align: left;

    background-color: dimgrey;
    padding: 15px;
    color: #f1f1f1;
    padding-left: 60px;

}


#recipe_cards {

    width: 350px;

    padding: 15px;
    margin-top: 15px;



}

#check_form {
    max-width: 160px;
    min-width: 75px;
    padding: 5px;
    margin-top: 10px;

}
#bottom_page{
height: 3%;
}
